.footer {
  width: 100vw;
}

.map-section {
  width: 100vw;
  height: auto;
  background: #212529;

  .map-container {
    position: relative;
    max-width: 1310px;
    height: 450px;
    margin: 0 auto;
    padding: 40px 20px;
  }
}

.mat-icon {
  transform: scale(0.9);
}

.mb-3 {
  display: flex;
  align-items: center;
}

@media (max-width: 560px) {
  .map-container {
    height: 350px !important;
  }
}

@media (max-width: 400px) {
  .map-container {
    height: 300px !important;
  }
}
