<section class="map-section" id="map-container">
  <div class="map-container">
    <ya-map
      (ready)="removeLoading()"
      *ngIf="isVisible"
      [center]="[52.786329, 27.521166]"
      [zoom]="15"
    >
      <ya-placemark [geometry]="[52.786329, 27.521166]"></ya-placemark>
    </ya-map>
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner
        aria-label="Progress Spinner Dog House"
        [diameter]="progressDiameter"
      ></mat-spinner>
    </div>
  </div>
</section>
<footer class="text-white text-left text-lg-start bg-dark">
  <div class="container p-4">
    <div class="row mt-4">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">О нас</h5>
        <p>Ваш питомец в надежных руках наших высококлассных грумеров.</p>
        <p>Мы предлагаем исключительно высококачественный сервис.</p>
      </div>
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Контактная информация</h5>

        <ul class="fa-ul">
          <a href="tel: +375 29 118-16-36" class="mb-3">
            <mat-icon class="mat-icon">call</mat-icon
            ><span class="ms-2">+ 375 29 118-16-36</span>
          </a>
          <a
            target="_blank"
            href="https://yandex.by/maps/org/dog_khaus/170406074867/?display-text=%D0%B4%D0%BE%D0%B3%20%D1%85%D0%B0%D1%83%D1%81%20%D1%81%D0%BE%D0%BB%D0%B8%D0%B3%D0%BE%D1%80%D1%81%D0%BA&ll=27.523842%2C52.785883&mode=search&sctx=ZAAAAAgBEAAaKAoSCUxTBDi9jztAEapiKv2E80pAEhIJS2z9%2F38d1z8R7XyDm3pwwT8iBgABAgMEBSgKOABAk8sBSAFqAnVhnQHNzEw9oAEAqAEAvQFPI5hfwgEG87P55%2FoE6gEA8gEA%2BAEAggIi0LTQvtCzINGF0LDRg9GBINGB0L7Qu9C40LPQvtGA0YHQuooCAJICBTI2MDAzmgIMZGVza3RvcC1tYXBz&sll=27.523842%2C52.785883&sspn=0.025047%2C0.009700&text=%D0%B4%D0%BE%D0%B3%20%D1%85%D0%B0%D1%83%D1%81%20%D1%81%D0%BE%D0%BB%D0%B8%D0%B3%D0%BE%D1%80%D1%81%D0%BA&z=15.85"
            class="mb-3"
          >
            <mat-icon class="mat-icon">location_city</mat-icon>
            <span class="ms-2"> <strong> г. Солигорск, Беларусь</strong></span>
          </a>
          <a
            target="_blank"
            href="https://www.google.com/maps/place/%D0%94%D0%BE%D0%B3+%D0%A5%D0%B0%D1%83%D1%81/@52.7857833,27.5211671,15z/data=!4m5!3m4!1s0x0:0x451577b1547ed00f!8m2!3d52.7857833!4d27.5211671"
            class="mb-3"
          >
            <mat-icon class="mat-icon">location_on</mat-icon
            ><span class="ms-2">Ул. Константина Заслонова 49</span>
          </a>
        </ul>
      </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Рабочее время</h5>
        <table class="table text-left text-white">
          <tbody class="fw-normal">
            <tr>
              <td>Пн - Сб:</td>
              <td>10:00 - 20:00</td>
            </tr>
            <tr>
              <td>Вс:</td>
              <td>Выходной</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-white" href="https://www.instagram.com/dog.house.sol/">
      Dog.House.Sol
    </a>
  </div>
</footer>
