<header id="header" class="header">
  <div class="header-container">
    <div class="up-header">
      <a routerLink="/." class="logo-block burger-logo-block">
        <div class="logo-left-block">
          <img
            class="title-logo"
            src="../../../assets/favicon/logo-dog-haus-soligorsk.png"
            alt="Dog House Logo"
          />
          <span class="title-name-logo" (click)="isVisibleBurger = false">
            Дог Хаус
          </span>
        </div>
      </a>
      <div class="information-content">
        <button
          matTooltip="время работы"
          aria-label="Work Time Dog House"
          class="social-networks"
          mat-button
        >
          <mat-icon>schedule</mat-icon>
        </button>
        <span class="networks-info">Пн. — Сб. 10:00–20:00</span>
        <a href="tel: +375 29 118-16-36">
          <button
            matTooltip="телефон"
            class="social-networks"
            aria-label="Phone Dog House"
            mat-button
          >
            <mat-icon>phone</mat-icon>
          </button>
        </a>
        <span class="networks-info">+375 29 118-16-36</span>

        <a target="_blank" href="https://www.instagram.com/dog.house.sol/">
          <button
            aria-label="Instagram Dog House"
            matTooltip="инстаграм"
            class="social-networks"
            mat-button
          >
            <img
              class="instagramm-icon"
              src="../../../assets/png/instagram-dog-haus-dog-house-soligorsk-strizhka-sobak.png"
              alt="instagram"
            />
          </button>
        </a>
        <span class="networks-info">@dog.house.sol</span>
        <a
          target="_blank"
          href="https://www.google.com/maps/place/%D0%94%D0%BE%D0%B3+%D0%A5%D0%B0%D1%83%D1%81/@52.7857833,27.5211671,15z/data=!4m5!3m4!1s0x0:0x451577b1547ed00f!8m2!3d52.7857833!4d27.5211671"
        >
          <button
            aria-label="Location Dog House"
            matTooltip="адрес"
            class="social-networks"
            mat-button
          >
            <mat-icon>location_on</mat-icon>
          </button>
        </a>
        <span class="networks-info">Ул. Константина Заслонова 49</span>
        <button
          aria-label="Burger Menu Dog House"
          #burger
          (click)="isVisibleBurger = true"
          class="upper-burger"
          mat-button
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
    <div class="main-header">
      <div class="info-content">
        <ul class="list-links">
          <button
            routerLinkActive="active-link"
            [routerLinkActiveOptions]="{ exact: true }"
            routerLink=""
            mat-button
          >
            <li>Главная</li>
          </button>
          <button routerLinkActive="active-link" routerLink="/shop" mat-button>
            <li>Товары</li>
          </button>
          <button
            routerLinkActive="active-link"
            routerLink="/services"
            mat-button
          >
            <li>Услуги</li>
          </button>
          <button
            routerLinkActive="active-link"
            routerLink="/gallery"
            mat-button
          >
            <li>Галерея</li>
          </button>
          <button
            routerLinkActive="active-link"
            routerLink="/about-us"
            mat-button
          >
            <li>О нас</li>
          </button>
        </ul>
      </div>
      <span class="title-header">
        Груминг салон в <br />
        <a
          target="_blank"
          href="https://www.google.com/maps/place/%D0%94%D0%BE%D0%B3+%D0%A5%D0%B0%D1%83%D1%81/@52.7857833,27.5211671,15z/data=!4m5!3m4!1s0x0:0x451577b1547ed00f!8m2!3d52.7857833!4d27.5211671"
          class="title-city"
        >
          Солигорске
        </a>
      </span>
      <button
        #burger
        aria-label="Burger Menu Dog House"
        (click)="isVisibleBurger = true"
        class="burger-menu"
        mat-button
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</header>

<div class="burger-container" *ngIf="isVisibleBurger">
  <div class="logo-block">
    <div
      routerLink="/"
      (click)="isVisibleBurger = false"
      class="logo-left-block"
    >
      <img
        class="title-logo"
        src="../../../assets/favicon/logo-dog-haus-soligorsk.png"
        alt="Dog House Logo"
      />
      <span class="title-name-logo"> Дог Хаус </span>
    </div>
    <button class="close-btn" (click)="isVisibleBurger = false" mat-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="burger-block">
    <div class="header-burger">
      <button class="close-btn" (click)="isVisibleBurger = false" mat-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="burger-main-content">
      <ul class="burger-list">
        <button
          (click)="isVisibleBurger = false"
          routerLink=""
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          mat-stroked-button
          class="btn-link-burger"
        >
          <li>Главная</li>
        </button>
        <button
          (click)="isVisibleBurger = false"
          routerLink="/services"
          routerLinkActive="active-link"
          mat-stroked-button
          class="btn-link-burger"
        >
          <li>Услуги</li>
        </button>
        <button
          (click)="isVisibleBurger = false"
          routerLinkActive="active-link"
          routerLink="/shop"
          mat-stroked-button
          class="btn-link-burger"
        >
          <li>Товары</li>
        </button>
        <button
          (click)="isVisibleBurger = false"
          routerLinkActive="active-link"
          routerLink="/gallery"
          mat-stroked-button
          class="btn-link-burger"
        >
          <li>Галерея</li>
        </button>
        <button
          (click)="isVisibleBurger = false"
          routerLink="/about-us"
          mat-stroked-button
          routerLinkActive="active-link"
          class="btn-link-burger"
        >
          <li>О нас</li>
        </button>
      </ul>
    </div>
    <div class="burger-networks">
      <ul class="burger-networks-list">
        <a>
          <button
            matTooltip="время работы"
            class="social-burger-networks"
            mat-button
          >
            <mat-icon>schedule</mat-icon>
            <span class="networks-burger-info">Пн. — Сб. 10:00–20:00</span>
          </button>
        </a>
        <a href="tel: +375 29 118-16-36">
          <button matTooltip="phone" class="social-burger-networks" mat-button>
            <mat-icon>phone</mat-icon>
            <span class="networks-burger-info">+375 29 118-16-36</span>
          </button>
        </a>

        <a target="_blank" href="https://www.instagram.com/dog.house.sol/">
          <button
            matTooltip="instagram"
            class="social-burger-networks"
            mat-button
          >
            <img
              class="instagram-burger-icon"
              src="../../../assets/png/instagram-dog-haus-dog-house-soligorsk-strizhka-sobak.png"
              alt="instagram"
            />
            <span class="networks-burger-info">@dog.house.sol</span>
          </button>
        </a>
        <a
          target="_blank"
          href="https://www.google.com/maps/place/%D0%94%D0%BE%D0%B3+%D0%A5%D0%B0%D1%83%D1%81/@52.7857833,27.5211671,15z/data=!4m5!3m4!1s0x0:0x451577b1547ed00f!8m2!3d52.7857833!4d27.5211671"
        >
          <button
            matTooltip="location"
            class="social-burger-networks"
            mat-button
          >
            <mat-icon>location_on</mat-icon>
            <span class="networks-burger-info">
              Ул. Константина Заслонова 49
            </span>
          </button>
        </a>
      </ul>
    </div>
  </div>
</div>
