<main class="main">
  <section class="upper-section">
    <div class="container">
      <div class="div-upper-title-block wow animate__animated animate__fadeIn">
        <h2 class="upper-title">Наталия</h2>
      </div>
      <div class="main-content">
        <div class="photo-block">
          <img
            draggable="false"
            class="photo-img wow animate__animated animate__fadeIn"
            src="../../../assets/jpg/team/photo1653676338.jpeg"
            alt="Groomer"
          />
          <div class="social-links wow animate__animated animate__fadeIn">
            <a
              target="_blank"
              class="link"
              href="https://www.google.com/maps/place/%D0%94%D0%BE%D0%B3+%D0%A5%D0%B0%D1%83%D1%81/@52.7857833,27.5211671,15z/data=!4m5!3m4!1s0x0:0x451577b1547ed00f!8m2!3d52.7857833!4d27.5211671"
            >
              <img
                src="../../../assets/png/icons/google-brands.png"
                alt="Google logo"
              />
            </a>
            <a
              target="_blank"
              class="link"
              href="https://yandex.by/maps/org/dog_khaus/170406074867/?ll=27.521102%2C52.786226&z=16"
            >
              <img
                src="../../../assets/png/icons/yandex_logo_icon_170668.png"
                alt="Yandex logo"
              />
            </a>
            <a
              target="_blank"
              class="link"
              href="https://www.instagram.com/dog.house.sol/"
            >
              <img
                src="../../../assets/png/icons/logo-ig-png-32473.png"
                alt="Instagram"
              />
            </a>
            <a class="link" href="tel: +375 29 118-16-36">
              <img
                src="../../../assets/png/icons/telepon-7748.png"
                alt="Phone"
              />
            </a>
          </div>
        </div>
        <div class="right-side-block">
          <div class="title-block wow animate__animated animate__bounceInRight">
            <h3 class="title">Профессиональный грумер</h3>
            <p></p>
          </div>
          <div class="description-block">
            <p
              data-wow-duration="1.1s"
              class="description wow animate__animated animate__bounceInRight"
            >
              Благодаря своему многолетнему опыту работы грумером и постоянному
              совершенствованию своих навыков на различных мастерклассах и
              обучениях наш главный специалист найдет подход к каждому пушистому
              клиенту.
            </p>
            <p
              data-wow-duration="1.2s"
              class="description wow animate__animated animate__bounceInRight"
            >
              Все услуги выполняются только высококачественными инструментами и
              профессиональной специализированной косметикой. Результат оставит
              в восторге как четвероногого друга так и его хозяина.
            </p>
            <div
              class="certificates-block wow animate__animated animate__fadeIn"
            >
              <img
                draggable="false"
                class="photo-certificate first"
                src="../../../assets/jpg/certificates/diploma-2-dog-house.jpeg"
                alt="Certificate"
              />
              <img
                draggable="false"
                class="photo-certificate second"
                src="../../../assets/jpg/certificates/diploma-dog-house.jpeg"
                alt="Certificate"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
