<div class="upper-block">
  <button mat-button (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<h1 mat-dialog-title>
  Открыта вакансия
  <span class="highlighted"
    >Грумера <mat-icon class="mat-icon-small">content_cut</mat-icon></span
  >
</h1>
<div mat-dialog-content>
  <ul>
    <li>
      Мы ищем опытных грумеров, готовых заботиться о комфорте и красоте наших
      пушистых клиентов.
    </li>
    <li>
      Если у вас есть навыки в груминге собак и вы любите работать с разными
      породами, мы хотим видеть вас в нашей команде.
    </li>
  </ul>
</div>
<div mat-dialog-actions>
  <div class="wrap">
    <span>Свяжитесь с нами:</span>
    <ul>
      <li>
        <button mat-raised-button>
          <a target="_blank" href="https://www.instagram.com/dog.house.sol/">
            instagram
          </a>
        </button>
      </li>
      <li>
        <button mat-raised-button>
          <a href="tel: +375 29 118-16-36">+375 29 118-16-36</a>
        </button>
      </li>
    </ul>
  </div>
</div>
