<main class="main">
  <section class="upper-section">
    <div class="container">
      <div class="left-side-block">
        <div
          data-wow-duration="1s"
          class="title-block wow animate__animated animate__bounceInLeft"
        >
          <h1 class="title">
            Профессиональные услуги для котов и собак в Солигорске
          </h1>
        </div>
        <div
          data-wow-duration="1.1s"
          class="info-block wow animate__animated animate__bounceInLeft"
        >
          <p class="info-content">
            Все процедуры исполняются аккуратно и качественно с использованием
            специального профессионального оборудования. Индивидуальный подход к
            каждому питомцу. Весьма много внимания уделяется стерилизации
            инструментов и дезинфекции помещения.
          </p>
          <p class="info-content">
            Мы любим наше занятие и делаем его хорошо, постоянно совершенствуя
            наши навыки. Стремимся угодить каждому клиенту и его пушистому
            питомцу.
          </p>
        </div>
        <a
          data-wow-duration="1.2s"
          class="link-more wow animate__animated animate__bounceInLeft"
          href="/services#more-info"
        >
          <button mat-raised-button>
            <span>Узнать больше </span><mat-icon>expand_more</mat-icon>
          </button>
        </a>
      </div>
    </div>
  </section>

  <section id="more-info" class="services">
    <div class="container">
      <div class="left-side-block">
        <img
          class="img-slide wow animate__animated animate__fadeIn"
          [src]="imgUrl"
          alt="Photo services Dog House"
        />
        <div class="description-block wow animate__animated animate__fadeIn">
          <p class="description">
            Для более подробной информации звоните нам по номеру
            <a href="tel: +80 29 118-16-36">
              <strong> 80(29) 118-16-36. </strong>
            </a>
            Обсудим удобное для Вас время и стоимость услуг.
          </p>
        </div>
      </div>
      <div class="right-side-block">
        <div
          class="panel wow animate__animated animate__bounceInRight"
          *ngFor="let card of cards"
        >
          <mat-expansion-panel
            (opened)="handleOpened(card)"
            (closed)="handleClosed(card)"
            [expanded]="card.id === currentOpenedItemId"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <img
                  class="card-icons"
                  [src]="card.icons"
                  alt="Icon services Dog House"
                />
                <strong>{{ card.title }}</strong>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="card-description">{{ card.description }}</p>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </section>
</main>
