.main {
  overflow: hidden;

  .gallery-section {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 110px;
    padding: 40px 20px;

    ::ng-deep {
      .mat-tab-group {
        padding: 0 20px;
      }

      .mat-tab-body-content {
        overflow: hidden;
      }

      .mat-tab-label {
        padding: 35px;
      }

      .mat-tab-label-content {
        font-size: 22px;
        font-family: Lato, sans-serif;
      }
    }

    .row {
      margin-top: 20px;
    }

    .title-block {
      position: relative;
      margin: 50px 0 100px 0;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .title {
        position: relative;
        margin: 0;
        font-size: 48px;
        font-family: 'Comfortaa', cursive;

        &::after {
          content: '';
          position: absolute;
          bottom: -40px;
          left: 0;
          height: 3px;
          width: 100%;
          background-color: rgb(57, 57, 57);
          border-radius: 30%;
        }
      }
    }

    .link-block {
      font-size: 18px;
      margin-top: 40px;
      width: 100%;
      display: flex;
      justify-content: flex-end;

      .instagram-link {
        color: #c77847;
      }
    }
  }
}

@media (max-width: 520px) {
  ::ng-deep {

    .mat-tab-label {
      padding: 15px !important;
    }

    .mat-tab-label-content {
      font-size: 18px !important;
    }
  }

  .gallery-section {
    margin-top: 60px !important;
  }

  .title-block {
    margin: 0 0 50px 0 !important;
  }

  .title {
    font-size: 32px !important;

    &::after {
      bottom: -20px !important;
    }
  }
}

@media (max-width: 400px) {
  ::ng-deep {

    .mat-tab-label-content {
      font-size: 13px !important;
    }
  }
}
