<main class="main">
  <div class="title-block wow animate__animated animate__fadeInDown">
    <h2 class="title">Наши работы</h2>
  </div>
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653575922.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />

      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653576189.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />

      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653576853.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />

      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653576778.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653583864.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />

      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653577207.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />
      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653584069.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653576436.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />

      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653576284.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />
      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653576343.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Dog"
      />

      <img
        draggable="false"
        src="../../../assets/png/gallery/photo1653583603.jpeg"
        class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
        alt="Cat"
      />
    </div>
  </div>

  <div class="link-block">
    <p>
      Больше работ в нашем Instagram
      <a
        class="instagram-link"
        _blank
        href="https://www.instagram.com/dog.house.sol/"
      >
        @dog.house.sol
      </a>
    </p>
  </div>
</main>
