<main class="main">
  <div class="gallery-section">
    <div class="title-block wow animate__animated animate__fadeInDown">
      <h2 class="title">Наши работы</h2>
    </div>
    <mat-tab-group
      selectedIndex="1"
      mat-align-tabs="center"
      class="example-stretched-tabs mat-elevation-z4"
    >
      <mat-tab class="lab-title" label="Маленькие">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/1-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />

            <img
              draggable="false"
              src="../../../assets/png/gallery/2-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />

            <img
              draggable="false"
              src="../../../assets/png/gallery/7-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/6-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
            <img
              draggable="false"
              src="../../../assets/png/gallery/4-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
            <img
              draggable="false"
              src="../../../assets/png/gallery/9-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/10-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
            <img
              draggable="false"
              src="../../../assets/png/gallery/5-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
            <img
              draggable="false"
              src="../../../assets/png/gallery/8-malen'kaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
          </div>
        </div>
      </mat-tab>
      <mat-tab class="lab-title" label="Средние">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/1-srednyaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
            <img
              draggable="false"
              src="../../../assets/png/gallery/4-srednyaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/2-srednyaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
            <img
              draggable="false"
              src="../../../assets/png/gallery/5-srednyaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/3-srednyaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
            <img
              draggable="false"
              src="../../../assets/png/gallery/6-srednyaya-poroda-sobaki.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Dog"
            />
          </div>
        </div>
      </mat-tab>
      <mat-tab class="lab-title" label="Коты">
        <div class="row">
          <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/1-cat.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Cat"
            />
          </div>
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/2-cat.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Cat"
            />
          </div>

          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              draggable="false"
              src="../../../assets/png/gallery/3-cat.webp"
              class="w-100 shadow-1-strong rounded mb-4 wow animate__animated animate__fadeIn"
              alt="Cat"
            />
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="link-block">
      <p>
        Больше работ в нашем Instagram
        <a
          class="instagram-link"
          target="_blank"
          href="https://www.instagram.com/dog.house.sol/"
        >
          @dog.house.sol
        </a>
      </p>
    </div>
  </div>
</main>
